<nav class="menu">
  <div class="menu-link mod-margin"><%= t('menu.all') %></div>
  <div class="menu-link mod-margin"><%= t('menu.drawing') %></div>
  <div class="menu-link mod-margin"><%= t('menu.animation') %></div>
  <div class="menu-link mod-margin"><%= t('menu.art') %></div>
  <div class="menu-link mod-margin"><%= t('menu.picture') %></div>
</nav>

<div class="page">
  <div class="portfolio-images">
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>			
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>			
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>			
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>			
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>			
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>			
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>			
      </figure>
    </div>
  </div>
</div>